<nav class="navbar">
  <div class="nav-container">
    <a href="../../ely-website/index.html" class="logo">ELY伺服器</a>
    <ul class="nav-links">
      <li><a href="../../ely-website/index.html">首頁</a></li>
      <li><a href="../../ely-website/join.html">加入</a></li>
      <li><a href="../../ely-website/rules.html">規則</a></li>
      <li><a href="../../ely-website/events.html">活動</a></li>
      <li><a href="../../ely-website/kingdoms.html">玩家</a></li>
    </ul>
    <button class="theme-toggle" onclick="toggleTheme()">夜間模式</button>
    <div class="hamburger" onclick="toggleMenu()">☰</div>
  </div>
</nav>